<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="src/web-server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="src/web-server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode node_env="production"
             nodeProcessCommandLine="&quot;C:\Program Files (x86)\nodejs\22.22.0\node.exe&quot;"
             watchedFiles="web.config"
             loggingEnabled="true"
             logDirectory="iisnode"
             devErrorsEnabled="true" />
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
